<html lang="en">
  <%- include('./partials/head.ejs') %> 
<body>
  
  <%- include('./partials/nav.ejs') %> 

  <div class="about content">
    <h2>About Us</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure officiis, commodi voluptas iste error quisquam id assumenda, laboriosam alias maxime ea? Repellendus at repellat tempore porro quis facilis ducimus ipsa.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure officiis, commodi voluptas iste error quisquam id assumenda, laboriosam alias maxime ea? Repellendus at repellat tempore porro quis facilis ducimus ipsa.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure officiis, commodi voluptas iste error quisquam id assumenda, laboriosam alias maxime ea? Repellendus at repellat tempore porro quis facilis ducimus ipsa.</p>
  </div>
  
  <%- include('./partials/footer.ejs') %> 

</body>
</html>