<nav>
    <div class="site-title">
      <a href="/pantry"><h1>Recipe App</h1></a>
      <p>Something Something</p>
    </div>
    <ul>
      <!-- <li><a href="/">Blogs</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blogs/create">New Blog</a></li> -->

      <li><a href="/pantry">Pantry</a></li>
      <li><a href="/user-recipes">User Recipes</a></li>
    </ul>
  </nav>